.people-item {
  display:block;
  padding: 24px 36px;
  margin: 24px 36px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font: normal 2em "Playfair Display SC", serif;
  margin-bottom: 24px;
}

